@charset "UTF-8";
* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
  }

  img {
    width: 100%;
    height: auto;
    vertical-align: bottom;
  }

  #wrap {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: url("images/backre.jpg");
    background-color:rgba(255,255,255,0.2);
    background-blend-mode:lighten;
    font-family: "M PLUS 1", sans-serif;
  }

  header {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
    height: 100px;
    background: #ad7c88;
    opacity: 0.9;}

    header h1 {
    text-align: center; 
    padding: 1rem;
    top: 0;
    left: 1rem;
    color:  rgb(238, 210, 210);
    font-family: "Emilys Candy", serif;
    font-size: 50px;
  }

  nav {
    color:  rgb(238, 210, 210);
    position: absolute;
    top: 2rem;
    right: 1rem;
    font-family: "Emilys Candy", serif;
  }

  nav a {
  color:  rgb(238, 210, 210); /* 好きな色に変更 */
}

  nav ul {
    padding-bottom: 1rem;
    text-align: center;
  }
  nav ul li {
    display: inline-block;
    margin: 0 10px;
  }

  main {
    font-family: "Kaisei Decol", serif;
    padding: 1rem;
    margin: 0 auto;
    width: 100%;
    flex-grow: 1;
    margin: auto;
}



/*.main-visual{
  max-width: 1500px;
  padding: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr ;
  gap: 20px;
  margin: auto;
  background-color: rgb(238, 210, 210,0.8);
}*/

.main-visual img {
  width: 100%; /* 親要素の幅に合わせる */
    aspect-ratio: 1 / 1; /* 正方形にする */
    object-fit: cover; /* 画像を枠内に収める */
    border-radius: 5px; /* 任意で角を丸める */
  }



  .circle img{
    text-align:center;
    width: 50%;
    gap: 20px;
    grid-row-start: 1;
    grid-row-end: 2;
    /*margin: 2rem auto;
    margin-left: 2rem auto;*/
  }

  .text {
    margin: 2rem auto;
    width: 100%;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 4;
    align-items: center;
  }

   .setumei {
   width: 100%;
  }

  .setumei img {
    margin: auto;
    display: block;
  }

  .sec02 {
    background-color: rgb(238, 210, 210,0.8);
    margin: 1rem auto;
     color: #2e0711;
  font-family: "M PLUS 1", sans-serif;
  padding: 1rem;

}

.sec02 h2 {
  color: #2e0711;
  }
  

  .container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    gap: 20px;
    padding: 1rem;
  }

  .container img {
    width: 100%; /* 親要素の幅に合わせる */
    aspect-ratio: 1 / 1; /* 正方形にする */
    object-fit: cover; /* 画像を枠内に収める */
    border: 5px solid  #ad7c88;
     /* 任意で枠線を追加 */
    border-radius: 5px; /* 任意で角を丸める */
  }

 

  footer {
    background: #ad7c88;
    color: rgb(238, 210, 210);
    text-align: center;
    padding: 1rem;
    width: 100%;
    font-family: "Emilys Candy", serif;
  }



/*スマートフォン用*/
/*@media all and (min-width: 400px)*/ 
  .container {
    grid-template-columns: 1fr ;
  }

  header h1 {
    font-size: 40px;
  }
 main {
    padding: 1rem;
    margin: 0 auto;
    width: 100%;
    flex-grow: 1;
    margin: auto;
}

.main-visual{
  max-width: 600px;
  margin: auto;
  padding: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr ;
  gap: 10px;
  background-color: rgb(238, 210, 210,0.8);
}

.main-visual img {
  width: 100%; /* 親要素の幅に合わせる */
    aspect-ratio: 1 / 1; /* 正方形にする */
    object-fit: cover; /* 画像を枠内に収める */
    border-radius: 5px; /* 任意で角を丸める */
  }
  
  .sec01 {
    gap: 20px;
    max-width: 600px;
    margin: auto;
   background-color: rgb(238, 210, 210,0.8);
   font-family: "M PLUS 1", sans-serif;
  }

  .circle img{
    /*text-align: center;*/
    border-radius: 100%;
    width: 200px;
    margin: auto;
    display: block;
    padding: 5px;
  }

   .text {
    padding: 1rem;
    color: #2e0711;
  }

   /* モーダルのスタイル */
.modal {
  display: none; /* 最初は非表示 */
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.8);
  justify-content: center;
  align-items: center;
}

.modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal img {
  max-height: 80%;
  max-width: 90%;
  width: auto;
  border: 4px solid white;
  border-radius: 10px;
}

.modal-caption {
    color: #fff;
    position: fixed;
    left: 0;
    bottom: 0;
    text-align: left;
    padding: 16px 24px;
    margin: 0;
    font-size: 0.4rem;
    box-sizing: border-box;
    z-index: 1001;
}

/*タブレット用*/
@media all and (min-width: 600px) {
  main {
    padding: 1rem;
    margin: 0 auto;
    width: 100%;
    flex-grow: 1;
    margin: auto;
}

.main-visual{
  max-width: 900px;
  margin: auto;
  padding: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr ;
  gap: 20px;
  background-color: rgb(238, 210, 210,0.8);
}
 
  .sec01 {
    gap: 30px;
    max-width: 900px;
    margin: auto;
    background-color: rgb(238, 210, 210,0.8);
    font-family: "M PLUS 1", sans-serif;
  }
 
  .container {
    grid-template-columns: 1fr 1fr;
  }
   .circle img{
   margin: auto;
    display: block;
    border-radius: 100%;
    width: 300px;
    gap: 20px;
    padding: 10px;
  }

   .text {
    gap: 20px;
    width:80%;
    margin: auto;
    display: block;
    padding: 1rem;
     color: #2e0711;
  }

   /* モーダルのスタイル */
.modal {
  display: none; /* 最初は非表示 */
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.8);
  justify-content: center;
  align-items: center;
}

.modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal img {
  max-height: 80%;
  max-width: 90%;
  width: auto;
  border: 4px solid white;
  border-radius: 10px;
}

.modal-caption {
    color: #fff;
    position: fixed;
    left: 0;
    bottom: 0;
    text-align: left;
    padding: 16px 24px;
    margin: 0;
    font-size: 0.5rem;
    box-sizing: border-box;
    z-index: 1001;
}
}

/*コンピュータ用*/
@media all and (min-width: 1025px) {
  .container {
    grid-template-columns: 1fr 1fr 1fr;
  }

   main {
    padding: 1rem;
    margin: 0 auto;
    width: 100%;
    flex-grow: 1;
    margin: auto;
}


.main-visual{
  max-width: 1500px;
  padding: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr ;
  gap: 20px;
  margin: auto;
  background-color: rgb(238, 210, 210,0.8);
}

  .sec01 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    max-width: 1500px;
    margin: auto;
    background-color: rgb(238, 210, 210,0.8);
    font-family: "M PLUS 1", sans-serif;
  }

  .circle img{
    margin-left: 3%;
    border-radius: 100%;
    width: 400px;
    gap: 20px;
    grid-row-start: 1;
    grid-row-end: 2;
     margin: auto;
    display: block;
  }

  .text {
    width: 100%;  
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 4;
    color: #2e0711;
  }

   /* モーダルのスタイル */
.modal {
  display: none; /* 最初は非表示 */
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.8);
  justify-content: center;
  align-items: center;
}

.modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal img {
  max-height: 90%;
  width: auto;
  border: 4px solid white;
  border-radius: 10px;
}

.modal-caption {
    color: #fff;
    position: fixed;
    left: 0;
    bottom: 0;
    text-align: left;
    padding: 16px 24px;
    margin: 0;
    font-size: 0.6rem;
    box-sizing: border-box;
    z-index: 1001;
}
}